{% extends "base.html" %}
<!--顶部css导入部分-->
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block navbar %}
<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>奥 创 娱 乐 城</h1>
  <p>Resize this responsive page to see the effect!</p>
</div>

<!--导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">
     <img src="{{url_for('static', filename='images/lottery_logo.png')}}" alt="Logo" style="width:40px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop-ssc" data-toggle="dropdown">
            时时彩
          </a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="{{url_for('web.lottery_ssc_chongqing')}}">重庆时时彩</a>
          </div>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop-quickin" data-toggle="dropdown">
          快速入口
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">个人中心</a>
          <a class="dropdown-item" href="#">邮箱</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
,
{% block content %}
     <!--左侧快速入口栏-->
<div class='container'>
    <div class="row">
        <div class="col-2">
            <div class="bg-container-white white-bg-margin flex-col">
                <div>111</div>
                <div>111</div>
                <div>111</div>
                <div>111</div>
                <div>111</div>
                <div>111</div>
            </div>
        </div>

        <!--中间正文-->
        <div class="col-8">
            <!--mian container-->
            <div class="bg-container-white white-bg-margin flex-col">
                <!--lottery info-->
                <div class="bg-container-white flex-col">
                    <!--彩票名称-->
                    <div class="lf lottery_img">
                        <span data-lottery="name" class="lottery_name">重庆时时彩</span>
                    </div>
                    <!--倒计时信息-->
                    <div class="lottery-open-info">
                    </div>
                    <!--彩票信息-->
                    <div class="lottery-open-code">
                        <div class="issue">
                            第 <span>20190109-048</span> 期开奖号码  <a class="item" data-command="trend"><i></i>号码走势</a>
                       </div>
                    </div>
                </div>

                <!--lottery contral panel-->
                <div class="bg-container-gray flex-col lottery_meta">
                    <!--lottery play group: 五星，四星，后三等-->
                    

                    <!--lottery select panel-->
                        <!--提示-->
                        <div>玩法提示：从万、千位各选一个号码组成一注。[帮助][案例]</div>
                        <span>玩法奖金98.000元</span>
                </div>

                <!--lottery play info-->
                <div class="bg-container flex-col">
                    <div style="margin:30px;" class="row col-lg-8">
                        订单记录
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        var lotteryMeta= {{ lottery|tojson }};
    </script>
    <script src="{{ url_for('static', filename='js/lottery_main.js') }}"></script>
{% endblock %}
